body {
	background-color: black;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

footer {
	text-align: center;
}

header {
	min-height: 7rem;
}

header h1 {
	margin: auto 0;
	display: inline;
}

header img {
	height: 4rem;
	width: auto;
	border-radius: 5px;
	margin-right: 1rem;
	vertical-align: middle;
}

.container {
	margin: 0 auto;
	max-width: 768px;
	padding: 20px 5%;
}

main {
	background-color: #171717;
}

main img {
	border-radius: 15px;
}

h1, h2 {
	line-height: 1;
	text-transform: uppercase;
}

h2 {
	margin-top: 40px;
}

h2:first-of-type {
	margin-top: 20px;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: aquamarine;
	font-weight: bold;
}

a:hover, a:active {
	color: mediumaquamarine;
}

a code {
	color: black;
}

code {
	background-color: aquamarine;
	color: black;
	font-family: monospace;
	padding: 1px;
	user-select: all;
}

code.image {
	background-color: lightyellow;
}

.btn {
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.7);
    border-bottom: 2px solid rgba(0,0,0,0.7);
    border-top: 2px solid #000;
    color: rgba(255,255,255,0.8);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05)
}

.btn:hover {
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8))
}

.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    float: left
}

.btn-github .icon {
    opacity: 0.6;
    background: url("../images/blacktocat.png") 0 0 no-repeat
}
