 <!DOCTYPE html>
 <html lang="en">

 <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Simple PWA</title>
	<link rel="canonical" href="https://dan-carroll.github.io/online-development-books" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- favicons and colors -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<!-- <link rel="manifest" href="/manifest.json"> -->
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<!-- <link rel="shortcut icon" href="/favicon.ico"> -->
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
	<!-- SEO -->
	<meta name="description" content="Simple List of Online Development Books" />
	<meta name="robots" content="noodp" />
	<meta name="author" content="Dan Carroll">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Online Dev Book List" />
	<meta property="og:description" content="Simple List of Online Development Books" />
	<meta property="og:url" content="https://dan-carroll.github.io/online-development-books" />
	<meta property="og:site_name" content="Online Dev Books" />

	<!-- Styles -->
	<link rel="stylesheet" href="style.css">

	<!-- Javascript -->
	<script>
		if ("serviceWorker" in navigator) {
			window.addEventListener("load", () => {
				navigator.serviceWorker && navigator.serviceWorker.register("./sw.js");
			});
		}
	</script>
	<script defer src="./main.js"></script>
 </head>

 <body>

	<header>
		<div class="container">
			<a href="https://dan-carroll.github.io/online-development-books/" aria-label="Logo">
				<h1><img src="books-sm.jpg" alt="Logo">Development Books Available Online</h1>
			</a>
			<p>
				<a href="https://dan-carroll.github.io/" class="btn btn-github">Dan Carroll Homepage</a>
				<a href="https://dan-carroll.github.io/dan-carroll-portfolio/" class="btn btn-github">My Portfolio</a>
				<a href="https://dan-carroll.github.io/dan-carroll-portfolio/projects" class="btn btn-github">My Github Projects</a>
			</p>
		</div>
	</header>

	<main>
		<div class="container">

			{{ content }}

		</div>
	</main>

	<footer>
		<div class="container">
			<p><a href="https://www.freepik.com/free-vector/school-books-elements-set_9387094.htm#query=books&position=12&from_view=search&track=sph">
				Logo/icon image by macrovector</a> on Freepik</p>
			<p>Copyright  &#169;2023 by <a href="https://dan-carroll.github.io/">Dan Carroll</a></p>
		</div>
	</footer>

 </body>

 </html>
